# Virtual environment
**/.venv/

# Python bytecode
*.pyc
__pycache__/

# Datasets and labels
!data/
data/*
!data/dfn_highlights/
!data/fireball_highlights/
!data/gfo_fixes/

# Training runs and models
object_detection/fireballs/
*.pt
runs/
wandb/