# Virtual environment
**/.venv/

# Python bytecode
*.pyc
__pycache__/

# Datasets and labels
data/
!data/dfn_highlights/
!data/fireball_images/
!data/gfo_fixes

# Training runs and models
fireball_detection/fireballs/
fireball_detection/runs/
fireball_detection/wandb/
**.pt